.block {
    width: 100%;
    max-width: 870px;
    margin: 0 auto;
    padding: 30px 0;

    &--intro {
        max-width: 980px;
        min-height: 540px;
        height: 100%;
        padding-bottom: 0;

        position: relative;
        z-index: 5;

        @media #{$media_height} {
            padding-bottom: 90px;
        }
    }
}

.block__action {
    width: 100%;
    margin-bottom: 80px;
    text-align: center;

    .block__action-title {
        cursor: pointer;
    }

    &--intro {
        margin-bottom: 0;

        position: absolute;
        bottom: 10px;
        left: 0;
        z-index: 10;

        @media #{$media_sm} {
            position: static;
        }
    }
}

.block__action-title {
    font-family: 'Gilroy', 'Roboto', sans-serif;
    text-align: center;
    font-weight: 300;
    color: $white;
    font-size: 30px;
    line-height: 1.1;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    @media #{$media_sm} {
        margin-bottom: 40px;

        font-size: 1.3em;
    }
}

.block__title {
    margin: 0 0 25px;

    font-family: 'Gilroy', 'Roboto', sans-serif;
    text-align: center;
    font-weight: 900;
    color: $white;
    font-size: 36px;
    line-height: 1.1;

    &--sm {
        font-size: 1.5em;
    }

    @media #{$media_sm} {
        font-size: 1.5em;
    }
}

.block__text {
    padding: 0 25px;

    text-align: center;
    font-size: 18px;
    color: $white;

    &--sm {
        font-size: 14px;
    }

    &--md {
        font-family: 'Gilroy', 'Roboto', sans-serif;
        font-size: 1.5em;
    }

    @media #{$media_sm} {
        padding: 0;
    }
}
