.btn {
    display: inline-block;
    vertical-align: middle;
    padding: $btn-padding;
    margin-bottom: $btn-margin-bottom;

    text-decoration: none;
    border: 0;

    background-color: $btn-default-bg;
    border-radius: 3em;

    color: $btn-default-color;
    font-family: $btn-font-family;
    font-size: $btn-font-size;
    line-height: $btn-line-height;
    text-align: $btn-align;
    cursor: $btn-cursor;

    transition: background-color .1s linear, color .1s linear, border-color .1s linear;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:focus {
        background-color: darken($btn-default-bg, 3%);
        outline: 0;
    }

    &:hover {
        background-color: darken($btn-default-bg, 5%);
    }

    &:active {
        background-color: darken($btn-default-bg, 7%);
    }

    /* Colors */
    @include btn;

    /* Outline */
    @include btn-o;

    &--o2x {
        border-width: 2px;

        @media (max-width: 460px) {
            padding-left: 2em;
            padding-right: 2em;
        }
    }


    /* Sizes */
    &--xs {
        min-height: 0;
        font-size: $btn-xs-font-size;
    }

    &--s {
        min-height: 0;
        font-size: $btn-s-font-size;
    }

    &--m    { font-size: $btn-m-font-size; }
    &--l    { font-size: $btn-l-font-size; }
    &--xl   { font-size: $btn-xl-font-size; }
    &--xxl  { font-size: $btn-xxl-font-size; }
    &--full {
        display: block;
        width: 100%;
    }

    &--o-gradient {
        width: 255px;
        height: 58px;

        background: #a54e89;
        background: linear-gradient(to right, #a54e89, #3b3ba4);
        border-radius: 50px;

        position: relative;

        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.4em;

        &:hover,
        &:focus {
            background: #a54e89;
            background: linear-gradient(to right, #a54e89, #3b3ba4);

            .btn__inner {
                background: #a54e89;
                background: linear-gradient(to right, #a54e89, #3b3ba4);
            }

            .invert & {
                &:hover {
                    background: #3b3ba4;
                    background: linear-gradient(to right, #3b3ba4, #a54e89);
                }
            }
        }

        &.invert {
            border-left-color: #3b3ba4;
            border-right-color: #a54e89;

            background: #3b3ba4;
            background: linear-gradient(to right, #3b3ba4, #a54e89);

            &:hover,
            &:focus {
                background: #3b3ba4;
                background: linear-gradient(to right, #3b3ba4, #a54e89);

                .btn__inner {
                    background: #3b3ba4;
                    background: linear-gradient(to right, #3b3ba4, #a54e89);
                }
            }
        }
    }
}

.btn__inner {
    width: calc(100% - 4px);
    height: calc(100% - 4px);

    background-color: $real-black;
    border-radius: 50px;
    line-height: 54px;

    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
}

.btn-long {
    display: block;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 572px;
    height: 79px;
    position: relative;

    font-family: 'Gilroy', 'Roboto', sans-serif;
    text-align: center;
    color: $white;
    font-size: 19px;
    font-weight: 900;
    line-height: 79px;

    background: url("#{$img}long-btn-bg.svg") no-repeat;
    background-size: cover;

    @media (max-width: 615px) {
        background: linear-gradient(#a54e89, #3b3ba4);
        border-radius: 40px;
        font-size: 16px;
    }
}

.back__btn {
    display: inline-block;
    padding: 7px 40px;
    margin-top: 20px;

    border: 0;
    background: linear-gradient(#464c58 50%, #282d38 51%, #282d38 100%);
    border-radius: 5px;

    color: $white;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;

    transition: opacity .1s linear;

    &:hover {
        opacity: .9;
        text-decoration: none;
    }
}
