.escrow {
    padding: 80px 15px;

    @media #{$media_sm} {
        padding: 30px 15px;
    }
}

.escrow__content {
    width: 770px;
    height: 397px;
    margin: 70px auto 0;
    position: relative;

    &--sm {
        display: none;
    }

    @media (max-width: 830px) {
        display: none;

        &--sm {
            display: block;
            max-width: 100%;
            margin: 40px auto 0;
        }
    }
}

.escrow__item {
    position: absolute;

    &--1 {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &--2 {
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
    }

    &--3 {
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
    }

    &--4 {
        top: 190px;
        left: 213px;
    }

    &--5 {
        top: 150px;
        left: 0;
    }

    &--6 {
        top: 190px;
        right: 215px;
    }

    &--7 {
        top: 130px;
        right: 0;
    }
}
