.proof {
    padding: 80px 15px;

    background: url("#{$img}map.png") center 300px no-repeat;

    @media #{$media_sm} {
        padding: 30px 15px;
    }
}

.proof__content {
    width: 100%;
    height: 530px;
    margin: 80px 0;
    position: relative;

    @media (max-width: 920px) {
        display: none;
    }
}

.proof__mobile {
    display: none;

    @media (max-width: 920px) {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 80px 0 20px;
    }
}

.proof__item {
    position: absolute;
    z-index: 10;

    &--1 {
        top: 0;
        left: 0;
    }

    &--2 {
        top: 0;
        right: 0;
    }

    &--3 {
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
    }

    &--4 {
        top: 240px;
        left: 80px;
    }

    &--5 {
        top: 328px;
        left: 250px;
    }

    &--6 {
        top: 328px;
        right: 250px;
    }

    &--7 {
        top: 240px;
        right: 80px;
    }
}
