.team {
    padding: 0 15px;
}

.team__inner {
    height: 500px;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    padding: 70px 0 0;

    background: url("#{$img}team-bg.png") center bottom no-repeat;

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 50px;
        background: linear-gradient(rgba($real-black, 0), rgba($real-black, .5) 20%, rgba($real-black, 1) 50%, $real-black 85%);

        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 100;
    }

    @media (max-width: 1199px) {
        height: 550px;
    }

    @media #{$media_sm} {
        height: 527px;
    }
}

.team__list {
    margin: 60px 0 100px;

    @media #{$media_sm} {
        margin-bottom: 30px;
    }
}

.team__item {
    padding: 0 65px;
    max-width: 515px;
    margin: 0 auto;

    color: $white;
    text-align: center;

    @media #{$media_sm} {
        margin-bottom: 30px;
        padding: 0;
    }
}

.team__ava {
    width: 139px;
    height: 139px;
    position: relative;
    margin: 0 auto 30px;

    background: url("#{$img}team-avatar-bg.png") center no-repeat;

    img {
        display: block;
        width: 115px;
        height: 115px;

        border-radius: 50%;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        margin: auto;
    }
}

.team__name {
    margin-bottom: 12px;

    font-size: 18px;
    font-weight: bold;
    color: $white;

    a {
        font-size: 14px;
        color: $white;
        font-weight: normal;
    }
}

.team__job {
    margin-bottom: 12px;

    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: $white;
}

.team__text {
    font-size: 14px;
    color: $white;
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
}

.team__blockquote {
    margin-top: 45px;
    margin-bottom: 45px;

    color: $white;
    font-style: italic;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    text-align: center;

    @media #{$media_sm} {
        margin: 15px 0;
        font-size: 18px;
    }
}


.team__slider {
    overflow: hidden;
    display: block;
    height: 400px;
    margin: 40px 0 0;

    position: relative;
    display: none;

    @media (max-width: 1199px) {
        display: block;
    }

    @media #{$media_sm} {
        margin-top: 30px;
    }
}

.team__info {
    max-width: 400px;
    width: 100%;
    margin: 40px auto 80px;

    height: 107px;
    overflow: hidden;

    text-align: center;

    display: none;

    &.slick-initialized {
        height: auto;
    }

    @media (max-width: 1199px) {
        display: block;
    }
}
