@import "functions";
@import "variables";
@import "mixins";
@import "fonts";


body {
    font-family: 'Roboto', sans-serif;
    font-size: $regular_font_size;
    line-height: $default_line_height;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $real-black;
}


a {
    color: #9e4b8c;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        outline: 0;
        text-decoration: underline;
    }
}

p {
    margin: 0 0 .5em;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Vendor libs
==========================*/
@import "vendor/_normalize";
@import "fontawesome/font-awesome";
@import "vendor/animate";
@import "vendor/modal";
@import "vendor/slick";
@import "vendor/rangeslider";



/* Import blocks
==========================*/
@import "blocks/grid";
@import "blocks/intro";
@import "blocks/particles";
@import "blocks/block";
@import "blocks/nav";
@import "blocks/timer";
@import "blocks/btn";
@import "blocks/presentation";
@import "blocks/video";
@import "blocks/mouse";
@import "blocks/docs";
@import "blocks/media";
@import "blocks/officer";
@import "blocks/tabs";
@import "blocks/progress";
@import "blocks/roadmap";
@import "blocks/timeline";
@import "blocks/join";
@import "blocks/mission";
@import "blocks/benefits";
@import "blocks/subscribe";
@import "blocks/proof";
@import "blocks/watch-video";
@import "blocks/watchdog";
@import "blocks/input";
@import "blocks/form";
@import "blocks/select";
@import "blocks/early-bird";
@import "blocks/whitepaper";
@import "blocks/escrow";
@import "blocks/team";
@import "blocks/separator";
@import "blocks/slider";
@import "blocks/footer";
@import "blocks/register";
@import "blocks/monetization";
@import "blocks/partner";
@import "blocks/alert";




/* Helpers (must be as last import to override rules when use)
==========================*/
@import "_helpers";
